[Desktop Entry]
Name=SimpleSFTP
Comment=A simple SFTP client
Exec=simplesftp
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=sftp;file;transfer;
Icon=simplesftp
